html,
body {
    margin: 0;
    height: 100%;
}

#container>* {
    border: 1px blue solid;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

header {
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

nav {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

article:nth-child(1) {
    grid-row: 2;
    grid-column: 2;
}

article:nth-child(2) {
    grid-row: 2;
    grid-column: 3;
}

aside {
    grid-row: 2;
    grid-column: 4;
}

footer {
    grid-row: 3;
    grid-column: 1 / span 4;
}