div {
    height: 50px;
    border: 1px solid black;
    background-color: lightgreen;
    margin: 10px;
}

p {
    margin: 0;
    font-size: x-large;
    border: 1px solid red;
    background-color: lightblue;
    text-align: center;
}

div:nth-child(1) {
    display: flex;
}

div:nth-child(1)>p {
    flex-basis: 20%;
}

div:nth-child(2) {
    display: flex;
}

div:nth-child(2)>p {
    flex: 1;
}

div:nth-child(2)>p:nth-child(2) {
    flex: 4;
    background-color: lightslategrey;
}

div:nth-child(2)>p:nth-child(4) {
    flex: 3;
    background-color: lightslategrey;
}

div:nth-child(3) {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-items: flex-start; */
    align-items: flex-end;
}

div:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}