#container {
    display: grid;
    /* grid-template-columns: 1fr 3fr 3fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
}

#container>div {
    font-size: x-large;
    text-align: center;
    padding: 10px;
    border: 1px solid lightpink;
    background-color: grey;
}