/* basic hierarchy */
/* 

h2 {
    color: blue;
}

h2 {
    color: red;
} 
    
*/

/* example 2 */

/* 
li>h2 {
    color: blue;
}

h2 {
    color: red;
} 
     */


/* example 3 */

/* div>div>div>ul>li>h2 {
    font-style: normal;
}

#myDiv h2 {
    font-style: italic;
}  */


/* example 4 */
/* #myDiv h2 {
    font-style: italic;
}

.myClass h2 {
    font-style: normal;
} */

/* #container h2 {
    font-style: normal;
}

#myDiv h2 {
    font-style: italic;
} */



div>div>div>ul>li>h2 {
    font-style: normal !important;
}

#container  {
    font-style: italic;
}

#myDiv h2
{
    font-style: italic;
}

#myDiv li>h2 {
    font-style: normal;
}

#myDiv .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan .eitan {
    font-style: normal;
}