/* name selector */

h1 {
    color: green;
}

html {
    height: 100%;
}

body {
    border: 2px orange dashed;
    height: 100%;
}

p {
    color: red;
}

a {
    color: pink;
}

/* class selector */
.huge {
    font-size: xx-large;
    border-radius: 16px;
}

.banana {
    color: yellow;
    border: 1px solid pink;
    border-radius: 4px;
}

/* id selector */
#my-special-paragrpah {
    color: purple;
}

/* attribute selector */
input[placeholder] {
    background-color: aqua;
}

input[placeholder="first_name"] {
    background-color: blueviolet;
}

/* pseudo selector */
a:visited {
    color: darkred;
}

a:hover {
    color: lightblue;
}

p::first-letter {
    font-weight: bold;
}

/* combined selectors */

/* x AND y */
p.huge {
    text-decoration: line-through;
}

p.huge#hugep {
    text-decoration: underline;
}

h2,
h3 {
    color: rgb(255, 224, 245);
}

form div input {
    background-color: yellow;
}

form>div>input {
    background-color: purple;
}